<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163552124849-mmon9rn8ph63mkf50okv2dsvl69u1g0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163552124849-mmon9rn8ph63mkf50okv2dsvl69u1g0e</string>
	<key>API_KEY</key>
	<string>AIzaSyBBo9rTbFRLoHNyAXPqwERp_3kKQZHoCJM</string>
	<key>GCM_SENDER_ID</key>
	<string>163552124849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-88725</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-88725.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163552124849:ios:1de80ffa406a914f42e790</string>
</dict>
</plist>